extends layout

include mixin/postViewer.pug

block content
  .container
    +postViewer(posts)
  .pagination-center
    ul.pager
      li(class=`previous ${page <= 1 ? 'disabled' : '' }`)
        a(href=`/page/${Number(page)-1}`) Previous
      li(class=`next ${page >= pages ? 'disabled' : '' }`)
        a(href=`/page/${Number(page)+1}`) Next 