extends layout

include mixin/postViewer.pug

block content
  .container
    +postViewer(posts)
  .pagination-center
    ul.pager
      li(class=`previous ${page <= 1 ? '' : 'disable' }`)
        a(href="#") Previous
      li(class=`next ${page >= pages ? '' : 'disable' }`)
        a(href="#") Next 