extends layout

include mixin/postViewer.pug

block content
  .container
    .popular-tags
      a(href="#").tag Tech 
      a(href="#").tag Business 
      a(href="#").tag Startup
      a(href="#").tag Self
      a(href="#").tag Politics 
      a(href="#").tag Science
      a(href="#").tag Media
      a(href="#").tag Culture
      a(href="#").tag More

    +postViewer