extends layout

//- script and style for medium like inline editor toolbar.
block HTMLhead 
  script(src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js")
  link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8")
  link(rel="stylesheet" href="/stylesheets/tooltip-theme.css")

block content 
  .container 
    h1.text-center Write post
    .alert.alert-info.fade-in 
      a(href="#" class="close" data-dismiss="alert") &times;
      strong Note!
      p You can drag-n-drop images directly in the article box.

    form.margin-sm(action="/post/submit" method="POST")
      if parentPost
        input.hide.form-control(type="text" name="parentPost" value=`${parentPost}`)
      if loginedUser
        input.hide.form-control(type="text" name="author" value=`${loginedUser._id}`)
      .form-group
        label(for="editor__heading") Heading
        input#editor__heading.form-control(type="text" name="title" required="true" placeholder="Lorem Ipsum...")
      .form-group
        label(for="post") Post
        textarea#post.post-textarea.editable(placeholder="Your post..." spellcheck="true" name="article")

      input.btn.btn-primary(type="submit" value="submit")
  script.
    var editor = new MediumEditor('.editable', {
       placeholder: {
        text: 'type your article....',
      }
    });